*UML/*
!UML/UML_PokerSystem.mdj
.idea

pokercasino/*
!pokercasino/lasvegas.cpp
!pokercasino/casino.cpp
!pokercasino/bot.cpp
!pokercasino/casino.h
!pokercasino/includes.h
!pokercasino/botfiles/


main_files/__pycache__/*
main_files/holdem/__pycache__/*
main_files/holdem/holdem/__pycache__/*

